@import "normalize";
body{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}
:root{
	--font-color: #333333;
	--grey: #eeeeee;
	--dark-grey: #808080;
	--bg-grey: #eceff4;
	--blue: #4d59a1;
	--link-color: #666666;
}
@mixin trans{
	transition: 0.3s;
}
.wrapper{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--bg-grey);
}
@media (max-width: 768px){
	.wrapper{
		padding-top: 30px;
		align-items: flex-start;
	}
}
// @media (min-width: 1440px)
@media (min-width: 1200px){
	.wrapper{
		// padding-top: 20px;
	}
}
@media (min-width: 1440px){
	.wrapper{
		// padding-top: 40px;
	}
}
@media (min-width: 1620px){
	.wrapper{
		// padding-top: 70px;
	}
}

@media (min-width: 1920px){
	.wrapper{
		// padding-top: 100px;
	}
}

.content{
	&__title{
		margin: 0;
		font-size: 1rem;
		font-weight: 400;
	}
	&__part{
		width: 320px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
		& + &{
			margin-top: 20px;
		}
	}
	&__header{
		padding: 20px 25px;
		border-bottom: 1px solid var(--grey);
		box-sizing: border-box;
	}
	&__form{}
}
@media (max-width: 320px){
	.content{
		padding: 10px;
		&__part{
			width: 100%;
		}
	}
}
.form{
	padding: 25px 25px 20px;
	&__label{
		display: block;
		& + &{
			margin-top: 10px;
		}
	}
	&__input{
		width: 100%;
		padding: 10px 15px;
		font-size: 1rem;
		border-color: var(--grey);
		border-style: solid;
		border-radius: 10px;
		box-sizing: border-box;
		outline: none;
		@include trans;
		&:focus{
			border-color: var(--dark-grey);
		}
		&::placeholder{
			color: rgba(51, 51, 51, 0.46);
		}
	}
	&__submit{
		display: block;
		margin-top: 15px;
		margin-left: auto;
		padding: 10px 15px;
		background-color: var(--blue);
		color: #fff;
		font-size: 1rem;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		outline: none;
		@include trans;
		&:hover, &:focus{
			opacity: 0.8;
		}
		&:active{
			opacity: 0.6;
		}
	}
}

.contacts{
	&__one{}
}
.one-contact{
	padding: 20px 25px;
	& + &{
		border-top: 1px solid var(--grey);
	}
	&__name{
		margin: 0;
		font-size: 1rem;
		color: var(--font-color);
	}
	&__del{
		padding: 0;
		color: var(--font-color);
		vertical-align: middle;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;
		@include trans;
		&:hover{
			transform: scale(1.2);
		}
		&:active{
			transform: scale(1.5);
		}
	}
	&__phone{
		position: relative;
		font-size: 0.9rem;
		color: var(--link-color);
		text-decoration: none;
		&::after{
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: currentColor;
			@include trans;
		}
		&:hover::after{
			width: 100%;
		}
	}
}